---
import Layout from '../components/Layout.astro';
const { title, description } = Astro.props;
---
<Layout {title} {description}>
  <div class="container prose prose-slate max-w-none py-8">
    <slot />
  </div>
</Layout>

